/*  Estilos globales 									    ----------------------------------------------------------------------------------------------------------------------  */
body {
  font-size: 22px;
  line-height: 24px;
  font-family: Arial;
  color: #333333;
  background: #fff;
  padding: 0px;
}
a {
  color: #005192;
  transition: color 0.5s ease;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
a:link {
  color: #005192;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  line-height: inherit;
  font-weight: normal;
}
#toolbar {
  box-shadow: none;
  position: relative;
  margin: 0px;
  padding: 0px;
}
body.toolbar-drawer {
  padding-top: 0px !important;
}
.nav {
  margin: 0px;
}
/*  Header			  									    ----------------------------------------------------------------------------------------------------------------------  */
/*  Main			  									    ----------------------------------------------------------------------------------------------------------------------  */
/*  Footer			  									    ----------------------------------------------------------------------------------------------------------------------  */
.easy-breadcrumb {
  text-align: center;
}
input[type="radio"] {
  display: none;
}
label {
  color: grey;
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}
#form p {
  text-align: center;
}
.clasificacion label {
  font-size: 60px !importand;
}
#val input[type="radio"] {
  display: none;
}
#val label {
  color: grey;
}
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  float: left;
}
#val label:hover,
label:hover ~ label {
  color: orange;
}
#val input[type="radio"]:checked ~ label {
  color: orange;
}
--------------------------------------------------------------------------------- #block-views-mejores-comidas-block-1 h2 {
  padding: 12px 20px;
  display: block;
  font-family: 'FuturaBT-Bold';
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
  background: #ccb76c;
}
#block-views-mejores-comidas-block-1 {
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 0px;
  margin-top: 30px;
}
#block-views-mejores-comidas-block-1 h2 {
  padding: 12px 20px;
  display: block;
  font-family: 'FuturaBT-Bold';
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
  background: #ccb76c;
}
#block-views-mejores-comidas-block-1 .box {
  margin: 16px 0 17px;
  padding: 0px 15px 0px 30px;
  display: inline-block;
  width: 100%;
  border-left: 2px solid #dcdcdc;
}
#block-views-mejores-comidas-block-1 h3 {
  max-width: 220px;
  min-height: 54px;
  position: relative;
  font-family: 'FuturaBT-Bold';
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 6px;
}
#block-views-mejores-comidas-block-1 h3 a {
  color: #333333;
}
#block-views-mejores-comidas-block-1 h3 a:hover {
  color: #a78c20;
}
#block-views-mejores-comidas-block-1 h3::before {
  content: '';
  position: absolute;
  top: 1px;
  left: -20px;
  width: 13px;
  height: 13px;
  background: #bfab81;
}
#block-views-mejores-comidas-block-1 .marca {
  display: block;
  font-size: 15px;
  line-height: 17px;
  color: #666666;
  margin-bottom: 8px;
  min-height: 17px;
}
#block-views-mejores-comidas-block-1 .precio_coste {
  float: right;
  text-decoration: line-through;
}
#block-views-mejores-comidas-block-1 .precio_venta {
  margin-left: 18px;
  float: right;
  color: #a78c20;
}
#block-views-mejores-comidas-block-1 .views-row {
  width: 24%;
  float: left;
  padding: 0;
  margin-right: 15px;
}
#block-views-mejores-comidas-block-1 .views-row-last {
  margin-right: 0;
}
#block-views-mejores-comidas-block-1 .views-row-last .box {
  border-right: 2px solid #dcdcdc;
}
